#certificates-row
{
    width: 70%;
    margin: 30px auto;
}

.slick-slide img {
    width: 100%;
}

/* Begin Certification Arrows */
#certificates-row button.slick-prev.slick-arrow
{
    left: -25%;
}

#certificates-row button.slick-next.slick-arrow
{
    right: -25%;
}

#certificates-row button.slick-prev.slick-arrow:before,
#certificates-row button.slick-prev.slick-arrow:after
{
    left: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
#certificates-row button.slick-prev.slick-arrow:after
{
    left: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#certificates-row button.slick-next.slick-arrow:before,
#certificates-row button.slick-next.slick-arrow:after
{
    left: 55%;
    transform: translate(-50%, -50%) rotate(45deg);
}
#certificates-row button.slick-next.slick-arrow:after
{
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#certificates-row button.slick-arrow
{
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 45%;
    z-index: 1;
    font-size: 0;
    background: transparent;
    outline: none;

    width: 60px;
    height: 60px;
    border: solid 4px #999;
    border-radius: 100%;
    transition: all .2s linear;
}
#certificates-row button.slick-arrow:before,
#certificates-row button.slick-arrow:after
{
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    background: #999;
    z-index: 2;
    transition: all .2s linear;
}
#certificates-row button.slick-arrow:after
{
    z-index: 3;
    top: 59%;
}
#certificates-row button.slick-arrow:hover {
    border: solid 6px #777;
}
#certificates-row button.slick-arrow:hover:after, #certificates-row button.slick-arrow:hover:before {
    background: #777;
}
#certificates-row button.slick-arrow:active {
    border: solid 6px #111;
}
#certificates-row button.slick-arrow:active:after, #certificates-row button.slick-arrow:active:before {
    background: #111;
}
.slick-disabled
{
    visibility: hidden;
}
/*End Certification Arrows*/

/* Begin Certification Slick Dot*/
#slide-dots-anchor
{
    margin-top: 60%;
}


.slick-dots {
    position: relative;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    border: 3px solid rgba(0,0,0,0.5);
}
.slick-dots li.slick-active button:hover {
    border: 3px solid rgba(0,0,0,0.7);
}
.slick-dots li button:hover {
    border: 3px solid rgba(0,0,0,0.2);
}
.slick-dots li button {
    font-size: 20px;
    font-weight: 300;
    width: 40px;
    background: transparent;
    height: 40px;
    border-color: rgba(0,0,0,0);
    outline: none;
    transition: border 500ms;
}
/*End Certification Slick Dots*/

/*Begin venobox customization*/
.vbox-next, .vbox-prev
{
    width: 60px;
    height: 60px;
}

.vbox-next span, .vbox-prev span
{
    border: 10px solid transparent;
    width: 40px;
    height: 40px;
}

.vbox-prev
{
    left: 35px;
}

.vbox-next
{
    right: 35px;
}

.vbox-close
{
    font-size: 44px;
    font-weight: 600;
    padding: 0 0 0 15px;
    line-height: 60px;
    height: 70px;
    width: 70px;
    border-bottom-left-radius: 100%;
}
.vbox-close:hover
{
    font-weight: 700;
}

/*End venobox customization*/
a.venobox
{
    outline: none;
}

/*Begin download button */
#download-link
{
    cursor: pointer;
    text-align: center;
    margin: 20% 30%;
    font-size: 25px;
    padding: 10px 15px;
    border: 3px solid #428bca;
    border-radius: 10px;
    transition: background-color 400ms;
}

#download-link a
{
    text-decoration: none;
    color: #428bca;
    transition: color 400ms;
}

#download-link:hover
{
    background-color: #428bca;
}

#download-link:hover a
{
    color: #FFF;
}